<div class="parent-container">

    <h1 class="t-center" style="margin: 2em 0 1em;" appTooltip="Wszystkie pogrubione elementy posiadają tooltipy, niektóre z nich można zobaczyć 'na kliknięcie' <strong>test</strong>">
        Tooltip </h1>
    <p>
        Lorem ipsum dolor <span appTooltip="Tooltip">sit amet</span>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl vel pretium. Euismod nisi porta lorem mollis.
        Nunc sed augue lacus viverra vitae congue. Id diam vel quam elementum pulvinar. Habitant morbi tristique senectus et netus et malesuada fames. Neque egestas congue quisque egestas diam in arcu cursus. Sollicitudin ac orci phasellus egestas tellus
        rutrum tellus pellentesque eu. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Enim tortor at auctor urna nunc id cursus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada.
    </p>
    <p>
        Lobortis feugiat vivamus at augue eget. Dignissim sodales ut eu sem integer. <span appTooltip="Inny tooltip">Semper risus in hendrerit gravida.</span> Suspendisse potenti nullam ac tortor vitae. Lacus suspendisse faucibus interdum posuere lorem
        ipsum dolor sit. Euismod lacinia at quis risus. Molestie a iaculis at erat. Consequat interdum varius sit amet mattis vulputate. Cras tincidunt lobortis feugiat vivamus at augue. Convallis convallis tellus id interdum. Blandit volutpat maecenas
        volutpat blandit aliquam etiam erat velit scelerisque. Augue neque gravida in fermentum et sollicitudin ac orci phasellus.
    </p>
    <p>
        Cursus risus at ultrices mi tempus imperdiet nulla malesuada. <span appTooltip="Na kliknięcie" appTooltipType='click'>Justo eget magna
            fermentum</span> iaculis eu non diam phasellus. A diam sollicitudin tempor id eu nisl nunc mi. Dignissim sodales ut eu sem integer vitae justo eget magna. Scelerisque felis imperdiet proin fermentum. Enim eu turpis egestas pretium. Ac tortor
        vitae purus faucibus ornare suspendisse sed nisi lacus. Ipsum dolor sit amet consectetur adipiscing elit ut. Dolor sit amet consectetur adipiscing elit duis tristique. Tortor at auctor urna nunc. Mi eget mauris pharetra et ultrices neque. Augue
        lacus viverra vitae congue eu consequat. Auctor augue mauris augue neque gravida. Lobortis mattis aliquam faucibus purus. Tellus cras adipiscing enim eu turpis egestas pretium. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Diam volutpat
        commodo sed egestas egestas fringilla. Convallis posuere morbi leo urna.
    </p>

    <p>
        <span appTooltip="Na kliknięcie cała sekcja" appTooltipType='click'>Pellentesque eu tincidunt tortor aliquam nulla. Ac tortor dignissim convallis aenean et.</span> Ipsum dolor sit amet consectetur adipiscing. Montes nascetur ridiculus mus mauris
        vitae. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Hac habitasse platea dictumst quisque sagittis purus sit. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Auctor augue mauris augue neque. Ipsum
        suspendisse ultrices gravida dictum fusce ut placerat. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Elit eget gravida cum sociis natoque. Morbi non arcu risus quis varius quam. Cras sed felis eget velit aliquet sagittis id.
        Cursus turpis massa tincidunt dui ut ornare lectus. Massa massa ultricies mi quis hendrerit dolor. Lorem ipsum dolor sit amet consectetur adipiscing. Arcu non sodales neque sodales ut etiam sit
    </p>

    <div class="copyright">&#169; Copyright <a href="https://www.linkedin.com/in/dominik-szyja-b17111153/" target="_blank">Dominik
            Szyja</a>
    </div>
</div>



<router-outlet></router-outlet>