/* You can add global styles to this file, and also import other style files */

$accent: #333;
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 2em;
    line-height: 1.65;
}

.parent-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.copyright {
    text-align: right;
    padding-top: 45px;
    a {
        color: $accent;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding-bottom: 1px;
        &:hover {
            &:after {
                visibility: visible;
            }
        }
        &:after {
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            position: absolute;
            background-color: $accent;
            opacity: .8;
            content: '';
            visibility: hidden;
        }
    }
}