.tooltip-wrapper {
    position: relative !important;
    font-weight: 600;
    app-tooltip .tooltip {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        top: -8px;
        min-width: 80px;
        padding: 7px 12px;
        font-size: 0.8rem;
        font-weight: 500;
        background: #000;
        color: #fff;
        border-radius: 3px;
        transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
        user-select: none;
        cursor: default;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        letter-spacing: -0.02em;
        line-height: 1.3;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}